<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Fast_Typing/src/com/groupavia/fasttyping/main/Main.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<mapAttribute key="org.eclipse.debug.core.environmentVariables">
<mapEntry key="CONFIG_FILE" value="${workspace_loc}/Fast_Typing/config/config.ini"/>
<mapEntry key="DATA_FILE" value="${workspace_loc}\Fast_Typing\config\data.txt"/>
</mapAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.groupavia.fasttyping.main.Main"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Fast_Typing"/>
</launchConfiguration>
